<div class="row">
    <div class="col-lg-12">
        <ajax-form asp-action="Export" submit-button="false">
            <a asp-action="ExportSchema" class="btn btn-success">Şemayı Çıkar</a>
            <a asp-action="ExportSchemaData" class="btn btn-success">Şemayı ve Verileri Çıkar</a>
            <button type="submit" class="btn btn-success">Tüm Tabloları Çıkar</button>
        </ajax-form>
    </div>
</div>